<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yelp Camp - Add a Campground</title>
</head>
<body>
    <form action="/campgrounds" method="POST">
        <div>
            <label for="title">Campground Name:</label>
            <input id="title" name="campground[title]" type="text" placeholder="Campground name">
        </div>
        <div>
            <label for="location">Location</label>
            <input id="location" name="campground[location]" type="text" placeholder="City, State">
        </div>
        <input type="submit" value="Add">
    </form>
    <footer>
        <a href="/campgrounds">Home</a>
    </footer>
</body>
</html>
